/* img{
    position: absolute;
    top: 0%;
    z-index: -1;
    width: 1000px;
}
h2{
    color: aqua;
    width: 1000px;
} */
.img-2{
    position: absolute;
    right: 50%;
    top: 40%;
    z-index: -1;
}
.img-1{
    position: absolute;
    right: 55%;
    top: 45%;
}